.header {
    font-weight: 600;
}

.container {
    margin-top: 100px;
    border-radius: 20px;
    background: #fff;
}

.panel-group {
    margin-top: 20px;
}

#request-btn {
    margin-top: 10px;
    font-weight: 600;
}

body {
  background-image: url("/static/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Palanquin';
}

.welcome {
    font-weight:600;
}

table {
    margin-top:30px;
}

h2 {
    font-weight: 500;
}