<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
<form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="current_password" name="current_password" placeholder="Current Password">

        <input type="new_password" name="new_password" placeholder="New Password">
        <input type="re_password" name="re_password" placeholder="Re-enter New Password">

        <input type="submit" value="Submit">
</form>
</body>
</html>