<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="current_password" name="current_password" placeholder="Current Password">

        <input type="new_password" name="new_password" placeholder="New Password">
        <input type="re_password" name="re_password" placeholder="Re-enter New Password">

        <input type="submit" value="Submit">
</form>
</body>
</html>