<!DOCTYPE html>
<html lang="en">
<head>
<link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>History</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TAGLICH</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Request Job</a></li>
        <li><a href='/clientJobs'>My Jobs</a></li>
        <li><a href='/clientHistory'>History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="welcome">Welcome {{ username }}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="jobs">
    <h2> This is your work history</h2>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Requester Name</th>
            <th>Requester Address</th>
            <th>Requester Description</th>
          </tr>
        </thead>
        <tbody>  
          {% for job in jobs %}
           <tr>
            <div class="row" name="{{ job.id }}" value="{{ job }}">
                <td> {{ job.client_username }}</td>
                <td> {{ job.address }}</td>
                <td> {{ job.description }}</td>
            </div>
          </tr>  
        {% endfor %}
        </tbody>
      </table>
</div>
</body>
</html>