<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Homepage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TAGLICH</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href='/clientJobs'>My Jobs</a></li>
        <li><a href='/clientHistory'>History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>Welcome {{ username }}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<body>
<form action="/clientHomePage" method="POST">
        <select name="job_type">
		      {% for job_type in job_types %}
		      	<option value="{{ job_type }}">{{ job_type }}</option>
		      {% endfor %}
        </select>
        <input type="address" name="address" placeholder="Address">
        <input type="description" name="description" placeholder="Description">

        <input type="submit" value="Request worker">
</form>
</body>
</html>