<!DOCTYPE html>
<html lang="en">
<head>
<link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <script>

    $(document).ready(function() {
        $('#client').attr("checked","checked");
        $('#job-type').hide();

       $('input[type=radio][name=account_type]').on('change', function() {
            console.log("change");
            if($('#client').is(":checked") == true) {
                $('#job-type').hide();
            }
            else {
                if($('#worker').is(":checked") == true) {
                    $('#job-type').show();
                }
            }
        });

    });

    </script>
</head>
<body>
 <!--   <form action="/register" method="POST">
        <input type="username" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="repassword" placeholder="Re-enter Password">
        <br>
        <input type="firstname" name="firstname" placeholder="First Name">
        <input type="lastname" name="lastname" placeholder="Last Name">
        <input type="date" name="dob" min="1950-01-02" placeholder="Date of Birth">
        <input type="description" name="description" placeholder="Your description">
        <input type="phone_nr" name="phone_nr" placeholder="Phone number">
        <select name="account_type">
            <option value="Client">Client</option>
            <option value="Worker">Worker</option>
        </select>

        <select name="job_type">
		      {% for job_type in job_types %}
		      	<option value="{{ job_type }}">{{ job_type }}</option>
		      {% endfor %}
        </select>

        <input type="submit" value="Sign In">
    </form>-->

<div class="container">
    <h3 style="text-align:center">Register</h3>
  <form action="register" method="POST">
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="username"placeholder="Username"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="email" name="email" placeholder="Email Address"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" name="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>

      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" name="repassword" placeholder="Re-enter Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
    </div>
      <div class="row">
      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
        <input type="text" name="firstname" placeholder="First Name"/>
      </div>
      <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
        <input type="text" name="lastname" placeholder="Last Name"/>
      </div>
          <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-horizontal"></i></span>
        <input type="text" name="description"placeholder="Your description"/>
      </div>
          <div class="input-group input-group-icon">
          <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
        <input type="text" name="phone_nr"placeholder="Phone"/>
      </div>
      </div>
    <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col">
            <input type="date" name="dob" min="1950-01-02" placeholder="Date of Birth">
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <input type="radio" name="gender" value="male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="female" id="gender-female"/>
          <label for="gender-female">Female</label>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-half" id="account-type">
        <h4>Member Type</h4>
        <div class="input-group">
          <input type="radio" name="account_type" value="Client" id="client"/>
          <label for="client">Client</label>
          <input type="radio" name="account_type" value="Worker" id="worker"/>
          <label for="worker">Worker</label>
        </div>
      </div>
        <div class="col-half" id="job-type">
            <h4>Job Type</h4>
            <select name="job_type">
		      {% for job_type in job_types %}
		      	<option value="{{ job_type }}">{{ job_type }}</option>
		      {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms"/>
        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
      </div>
    </div>
      <div class="row">
          <input type="submit" value="Sign In" id="submit-btn">
      </div>
  </form>
</div>
</body>
</html>
